{% extends 'base.html' %}
{% block content %}
<div class="container">
  <form class="form-group" method="POST">
    {{form.hidden_tag()}}

    <div class="form-group text-center-smashed" style="color: #d4af37;">
      {{form.title.label(class="form-control-label")}}
      {{form.title(class="form-control form-control-lg")}}
    </div>
    <div class="form-group text-center-smashed" style="color: #d4af37;">
      {{form.author.label(class="form-control-label")}}
      {{form.author(class="form-control form-control-lg")}}
    </div>
    <div class="form-group text-center-smashed" style="color: #d4af37;">
      {{form.book_content.label(class="form-control-label")}}
      {{form.book_content(class="form-control form-control-lg")}}
    </div>
    <div class="form-group" style="color: #d4af37;">
      {{form.submit(class="btn btn-outline-info bg-gold")}}
      {% if form.cancel %}
        {{form.cancel(class="btn btn-outline-danger" if form.cancel)}}
      {% endif %}
    </div>
  </form>

</div>
{% endblock %}
