{% extends 'base.html' %}
{% block content %}
<div class="jumbotron text-center-smashed jumbo-head gold-text gold-border bg-black cursive" align="center">
  <h1 style="margin-top: 25px;">Marriage sucks, but your wedding doesn't have to.</h1>
</div>
<div class="container gold-border rounded">
  <form class="form-group form-horizontal" method="POST">
    {{form.hidden_tag()}}
    <div class="form-group has-success text-center-smashed" style="color: #d4af37;">
      {# {{form.first_name.label(class="form-control-label")}} #}
      {{form.first_name(class="form-control form-control-lg", placeholder="First Name")}}
    </div>
    <div class="form-group text-center-smashed" style="color: #d4af37;">
      {# {{form.last_name.label(class="form-control-label")}} #}
      {{form.last_name(class="form-control form-control-lg", placeholder="Last Name")}}
    </div>
    <div class="form-group text-center-smashed" style="color: #d4af37;">
      {# {{form.spouse_first_name.label(class="form-control-label")}} #}
      {{form.spouse_first_name(class="form-control form-control-lg", placeholder="Spouse First Name")}}
    </div>
    <div class="form-group text-center-smashed" style="color: #d4af37;">
      {# {{form.spouse_last_name.label(class="form-control-label")}} #}
      {{form.spouse_last_name(class="form-control form-control-lg", placeholder="Spouse Last Name")}}
    </div>
    <div class="form-group text-center-smashed" style="color: #d4af37;">
      {# {{form.appointment_date.label(class="form-control-label")}} #}
      {{form.appointment_date(class="form-control form-control-lg")}}
    </div>
    <div class="form-group">
      {{form.submit(class="btn btn-outline-secondary gold-border bg-black white-text cursive")}}
      {% if form.cancel %}
        <a href="{{url_for('appointments.user_appointments')}}">{{form.cancel(class="btn btn-outline-danger" if form.cancel)}}</a>
      {% endif %}
      {% if current_user.is_authenticated %}
    </div>
  </form>
</div>
<a href="{{url_for('appointments.user_appointments')}}">
  <button type="button" name="button" style="margin-top: 5px;" >
    My Appointments
  </button>
</a>
{% endif %}
{% endblock %}
