{% extends "base.html" %}
<body>
{% block content %}
  <div class="jumbotron jumbo-head text-center-smashed bg-black gold-border gold-text cursive">
    <h1>Heaven's Reverends</h1>
    <h4>Marriage sucks, but your wedding doesn't have to.</h4>
  </div>
    <!-- <div class="jumbotron jumbo-head text-center-smashed bg-black" style="border: solid #d4af37; color: #d4af37; font-family: cursive;"> -->
    <!-- {# Go through each post #}
    {% for post in posts.items %}
    <div class="jumbotron jumbo-head text-center-smashed bg-black gold-text gold-border cursive">
      <div class="card-body">
        <h2><a class="card-title white-text" href="  {{ url_for('posts.post', post_id=post.id) }}">{{ post.title }}</a></h2>
        <p>Written By: <a class="gold-text" href="{{ url_for('users.user_posts', username=post.author.username) }}">{{ post.author.username }}</a></p>
        <p>Published on: {{ post.created_at.strftime('%Y-%m-%d') }}</p>
        <p class="card-text">{{ post.text[:100] }}...</p>
        <a href="{{ url_for('posts.post', post_id=post.id) }}" class="btn btn-outline-secondary white-text">Read More</a>
      </div>
    </div>
   {% endfor %} -->

 <!-- </div> -->

   <!-- <nav aria-label="Page navigation example">
     <ul class="pagination justify-content-center">
       {% for page_num in posts.iter_pages(left_edge=1, right_edge=1, left_current=1, right_current=2) %}
          {% if posts.page == page_num %}
          <li class="page-item disabled">
            <a class="page-link" href="{{ url_for('core.index', page=page_num) }}">{{ page_num }}</a>
          </li>
          {% else %}
            <li class="page-item"><a class="page-link" href="{{ url_for('core.index', page=page_num) }}">{{ page_num }}</a></li>
          {% endif %}
      {% endfor %}
    </nav>
</body> -->
<div class="container bg-logo gold-border shadow">
</div>
{% endblock %}
