{% extends 'base.html' %}
{% block content %}
<br>
  <div class="container bg-logo2 gold-border">
  </div>
  <div class="jumbotron jumbo-head text-center-smashed bg-black gold-border gold-text cursive">
    <h1>Meet Our Team!</h1>
  </div>
  <div class="jumbotron jumbo-head text-center-smashed bg-black gold-border gold-text cursive">
    <h1>Rev. Drake Hilliard</h1>
    <p>Co-founder and CEO</p>
    <div class="container bg-drake gold-border">
    </div>
    <br>
    <h1>( . Y . )</h1>
    <h1>Rev. Ryan Miller</h1>
    <p>Co-founder and President</p>
    <div class="container bg-ryan gold-border">
    </div>
    <br>
    <h1>( . Y . )</h1>
    <h1>Rev. Chris Duda</h1>
    <p>Head of Head Count</p>
    <div class="container bg-chris gold-border">
    </div>
    <br>
    <h1>( . Y . )</h1>
    <h1>Rev. Josh Lamprecht</h1>
    <p>Head of Head Count</p>
    <div class="container bg-yosh gold-border">
    </div>
    <br>
  </div>
{% endblock %}
