{% extends "base.html" %}
{% block content %}
{% for appt in appointments %}
<div>
  <div class="jumbotron jumbo-head text-center-smashed bg-black gold-border gold-text cursive">
    <h1 align="center">
      Wedding Consultation<br>
      {{appt.first_name+' '+appt.last_name+' & '+appt.spouse_first_name+' '+appt.spouse_last_name}}<br>
      {{appt.appointment_date.strftime(format='%-m/%-d/%Y %-I:%M %p')}}<br>
      {% if appt.theme %}
        Theme: {{appt.theme}} <br>
      {% endif %}
      {% if appt.length_minutes %}
        {{appt.length_minutes}} minutes<br>
      {% endif %}
      {% if appt.religious_verses %}
        {{appt.religious_verses}}<br>
      {% endif %}
      <div>
        <a class="btn btn-outline-secondary light-grey-text gold-border" href="{{ url_for('appointments.customize_wedding', appointment_id=appt.id) }}">Customize Wedding</a>
        <a class="btn btn-outline-info" href="{{ url_for('appointments.update_wedding_appointment', appointment_id=appt.id) }}">Update Appointment</a>
        <button type="button" class="btn btn-outline-danger" data-toggle="modal" data-target="#del_wedding_appointment">Cancel Appointment</button>
      </div>
    </h1>
  </div>
</div>
<div class="modal" tabindex="-1" role="dialog" id="del_wedding_appointment">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Delete Appointment Pop up Modal</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <p>Are you sure you want to cancel your appointment?</p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>

        <form action="{{ url_for('appointments.delete_wedding_appointment', appointment_id=appt.id) }}" method="POST">
          <input class="btn btn-danger" type="submit" value="Delete">
        </form>
      </div>
    </div>
  </div>
</div>
{% endfor %}
{% endblock content %}
